<h1>Account Deletion Confirmed</h1>
<p>Following your decision to delete your Squeaky account your account and associated data have been permanently deleted.</p>
<p>If you’d like to tell us more about your experience using Squeaky then you can contact us at any time by emailing <a href="mailto:hello@squeaky.ai">hello@squeaky.ai</a>.</p>
