<h1>You’re account details have been updated.</h1>
<p>You have recently updated your account details in Squeaky. If you legitimately performed this change you can safely ignore this email. If you did not change your account details please contact us via <a href="mailto:hello@squeaky.ai">hello@squeaky.ai</a> to let us know.</p>
<p class="small">If you believe you have received this email in error you can safely ignore it.</p>
