<p>Hey <%= @user.first_name %>,</p>
<p>We're back with another product update! August was a really productive month, with 3 new features and lots of other great improvements too. The email below summarise the latest updates, and for a detailed overview you can visit the blog post linked at the bottom of this email.</p>
<p>
  <ul>
    <li>We've added a new privacy tool called the <a href="https://squeaky.ai/blog/privacy/a-magic-erasure-that-protects-your-visitors-privacy">Squeaky Magic Erasure</a>.</li>
    <li>Single-page analytics are now live.</li>
    <li>We've added a consent widget and API, so that you no longer have to use third party tools to manage consent for your analytics.</li>
    <li>We've added 'inactivity' to the events timeline in session playback, and a new compact events view.</li>
    <li>There's now a read-only user role, and updated role definitions.</li>
    <li>The period component is now easier to use thanks to a major facelift.</li>
    <li>We've made some great general improvements to our feedback tools as well as upgrading the Sentiment feedback UI.</li>
    <li>You can now downlaod a .JSON export of your visitor data.</li>
   <li>We've been listening to your feedback, and made lots of improvements and bug fixes for the Event Tracking beta.</li>
  </ul>
</p>
<a href="https://squeaky.ai/blog/product-updates/product-update-august-2022?utm_source=squeaky-product-update&utm_medium=email" class="button" style="text-decoration: none; margin-bottom: 2rem;">View Product Update Post</a>
<p>Thanks so much for your continued support, and please keep the feedback and feature requests coming!</p>
<p>Kind Regards, </p>
<p>The Squeaky Team</p>
