<p>Hey <%= @user.first_name %>,</p>
<p>Happy new year! It&apos;s a little later than usual, but below you&apos;ll find a rundown of all the updates to the Squeaky product during December 2022:</p>
<p>
  <ul>
    <li>Multi-language support for Sentiment Surveys (let us know if you&apos;d like additional translations).</li>
    <li>Various chart and analytics improvements, including a World Map view.</li>
    <li>A new email reminder to help you avoid gaps in your data if your subscription is reaching its limit.</li>
    <li>Tooltips to improve readability of URLs in the page selector filters.</li>
    <li>An updated date picker component to use the standard HTML date input. This means whichever device you&apos;re on you can now select dates more easily.</li>
  </ul>
</p>
<p>For a detailed explanation of the Squeaky product updates from December 2022 you can visit our latest blog post:</p>
<a href="https://squeaky.ai/blog/product-updates/product-update-december-2022?utm_source=squeaky-product-update&utm_medium=email" class="button" style="text-decoration: none; margin-bottom: 2rem;">View Product Update Post</a>
<p>Thanks so much for your continued support, and please keep the feedback and feature requests coming!</p>
<p>All the best,</p>
<p>The Squeaky Team</p>
