<p>Hey <%= @user.first_name %>,</p>
<p>February was another great month at Squeaky, with lots of updates and improvements to our product. The email below summarises the latest updates, and for a detailed overview you can visit the blog post linked at the bottom.</p>
<p>
  <ul>
    <li>We spent time reworking the Journeys feature to include more features and greater accuracy.</li>
    <li>Following last month&apos;s API-based Event Tracking roll out we have continued to improve event tracking in Squeaky.</li>
    <li>There is now a helpful &apos;nested pages&apos; view for the page selector.</li>
    <li>We&apos;ve integrated with Duda CMS, the first of several integrations coming this year.</li>
    <li>We&apos;ve added Visitor and Recording totals next to the headings on those pages.</li>
  </ul>
</p>
<a href="https://squeaky.ai/blog/product-updates/product-update-february-2023?utm_source=squeaky-product-update&utm_medium=email" class="button" style="text-decoration: none; margin-bottom: 2rem;">View Product Update Post</a>
<p>Thanks so much for your continued support, and please keep the feedback and feature requests coming!</p>
<p>All the best,</p>
<p>The Squeaky Team</p>
