<p>Hi <%= @user.first_name %>,</p>
<p>As you have one or more websites using our Free Plan we&apos;re writing to let you know of some upcoming changes that will greatly improve the value of your free website analytics. We&apos;ve highlighted the changes below, as well as a brief explanation of why they&apos;re being made.</p>
<p><b>What&apos;s Changing:</b></p>
<p>
  <ul>
    <li>You will now be able to <b>capture 2500 monthly visits</b> on your site, a 5x(!) increase on the previous limit of 500 visits.</li>
    <li>The free plan will now include <b>3 months of data retention</b>, up from the existing 1 month.</li>
    <li><b>Session Recording and Heatmaps are no longer included</b> in the plan</li>
    <li><b>Page-level Analytics are now included</b> in the Free Plan (formerly a paid-only feature) which will give you much more granular data on your website performance.</li>
  </ul>
</p>
<p><b>The Reasons Behind The Change</b></p>
<p>Our decisions are always informed by data and transparency with our users is a top priority, so here's the main driver behind these changes:</p>
<p>Our internal tracking showed feature adoption of our heatmaps and recordings functionality among our free plan users was up to 60% lower than users on the paid plans. This was rather surprising as we know people love those features, so we reached out to several of our most active users on the Free Plan to learn more.</p>
<p>The interviews covered a variety of topics, but the two most important takeaways were that:</p>
<p>
  <ul>
    <li>Despite their fondness for heatmaps and session recordings, users found these features less practical on free sites in particular. The reason was primarily the data capture limitations: with only 500 visits per month, the sample was too small to reliably inform decision-making.</li>
    <li>1-month of data retention is nice for trying out a tool for the first time, but if you&apos;re going to use it for real work you need to at least be able to make month-to-month comparisons to support evaluation of your most recent changes on a site.</li>
  </ul>
</p>
<p>Sensible and valid feedback, but we can&apos;t dramatically increase data capture limits on our free plan because capturing and storing high-quality session recordings is very expensive when added up across many thousands of sites. We are a bootstrapped and profitable startup, and we plan to be a sustainable business long into the future!</p>
<p>So, with that in mind, we came up with a solution: free plans can capture 5x more sessions, with 3x longer retention periods and gain access to the page-level analytics feature. However, because heatmaps and session recordings are resource-intensive, they&apos;re now reserved exclusively for paid plans that have the traffic volumes or in-house expertise to get the most value from their inclusion.</p>
<p>These changes bring more data and new means of analysis in the areas that matter most to sites on free plans, whilst enabling Squeaky to maintain the only <b>free privacy-first analytics solution</b> (among major providers - <a href="https://plausible.io/#pricing" rel="noreferrer">1</a>, <a href="https://usefathom.com/pricing" rel="noreferrer">2</a>, <a href="https://www.simpleanalytics.com/pricing" rel="noreferrer">3</a>) on the market - ensuring privacy is accessible to all.</p>
<p>We believe these changes are going to greatly improve the value you gain from our free tier and, as always, we look forward to answering any feedback or questions you may have.</p>
<p>Kind regards,</p>

<p>Chris & Lewis<br>Squeaky Cofounders.</p>
