<p>Hi <%= @user.first_name %>,</p>
<p>It&apos;s Chris and Lewis here, cofounders of Squeaky. Today, we&apos;re reaching out with news we never hoped to share: next month, Squeaky will cease offering its flagship privacy-friendly analytics product.</p>
<p>We understand this may come as both surprising and disappointing news for many of our loyal users. We want to take a moment in this email to explain why we&apos;ve made this decision, outline what it means for your service and data over the coming month, and discuss what&apos;s next for Squeaky.</p>
<p><b>Why We&apos;ve Made This Decision</b></p>
<p>You&apos;re likely familiar with stories of startups imploding after spending unsustainably and running out of cash, or failing to get off the ground at all. Our problem at Squeaky has been somewhat different: we simply haven&apos;t grown fast enough to dedicate the time and resources needed to realise our vision for privacy-friendly analytics. We&apos;re proud to have been modestly profitable, bootstrapping our business, and managing to cover our costs from day one. However, sometimes just ‘sustaining&apos; yourself and your business isn&apos;t enough.</p>
<p>Like most startup founders, we entered the market to make a significant difference. We believed our product could offer a superior, more privacy-conscious alternative to legacy analytics tools. And functionally, it has - we&apos;ve received countless affirmations from users about our product's quality and impact. However, we&apos;ve ultimately failed to leverage that positivity and drive the accelerated adoption that would be required for us to make a real dent in the online universe. For transparency, we&apos;ve maintained around 1700 websites and web applications using Squeaky for their analytics needs over the past 6-9 months. While we&apos;re proud of this achievement, the growth in paying customers has plateaued, and we lack the bandwidth and skills in our two-man team to push beyond this point, leading us to question whether Squeaky can really achieve the level of impact we&apos;d like. Regrettably, we think that the answer to that question is no, it can&apos;t.</p>
<p><b>Service Provision and Timelines</b></p>
<p>We&apos;ve loved supporting our customers over the last few years and we're committed to ensuring you have the time and support needed to transition smoothly. For clarity, this is the timeline for the month ahead:</p>
<p>
  <ul>
    <li>Our <b>free service</b> will end in 2 weeks, on April the 22nd, after which point your analytics data will be permanently deleted.</li>
    <li>Our <b>paid service</b> will conclude in 4 weeks, on May the 6th. April&apos;s subscription payments will be the last, with all subscriptions canceled by the end of April. On May the 7th Squeaky&apos;s application will be shut down, and all data will be permanently and irretrievably deleted.</li>
    <li>Data export functionality is now enabled for all plans, free and paid, under Site Settings &gte; Data Export, allowing you to download your session and visitor data if needs be.</li>
  </ul>
</p>
<p>If you&apos;re in search of reliable, privacy-friendly analytics, we recommend Simple Analytics for its excellent value and reliability, albeit with more basic functionality than Squeaky. For those needing a complex feature set whilst still offering privacy-protection measures, Fullstory and Posthog are excellent choices.</p>
<p><b>What&apos;s Next for Us at Squeaky</b></p>
<p>Although we&apos;re closing this chapter on our analytics product, we&apos;re excited about developing new projects. Whether these will utilise the Squeaky brand or not remains to be seen, but if you appreciate our approach to user experience and product performance, we invite you to sign up for our <a href="https://squeakyai.substack.com/subscribe" rel="noreferrer">new newsletter</a>. You&apos;ll be the first to know when our next project launches.</p>
<hr style="color: #eeeeee; margin: 2rem 0; padding: 0;" />
<p>Lastly, we just want to note that closing this chapter of our lives has not been a decision we&apos;ve taken lightly. Squeaky has been an important tool for thousands of people over the last few years, and it&apos;s been a fixture of our daily lives and ambitions throughout. We are profoundly thankful for all the incredible users that helped us to build an outstanding product and that we&apos;ve had the pleasure of supporting, and we wish everyone continued success.</p>
<p>Thank you for everything.</p>
<p>With sincere appreciation,</p>
<p>Chris and Lewis<br/>Cofounders at Squeaky</p>
