<p>Hey <%= @user.first_name %>,</p>
<p>Last month we added some amazing new improvements to the Squeaky product. You can read the summary below, or visit the full January 2023 product update blog post using the button at the bottom of the email.</p>
<p>
  <ul>
    <li>We&apos;ve added a powerful new feature: Event Tracking via API.</li>
    <li>There's been major updates to our help centre content.</li>
    <li>We've added a new HTML date input that makes it easier to pick date ranges in the period component</li>
    <li>You can now filter your recordings list by new vs. returning visitors.</li>
    <li>Linked recordings from a specific visitor are now visible during session playback.</li>
    <li>We&apos;ve updated the sampling algorithm to make heatmaps render more consistently.</li>
  </ul>
</p>
<a href="https://squeaky.ai/blog/product-updates/product-update-january-2023?utm_source=squeaky-product-update&utm_medium=email" class="button" style="text-decoration: none; margin-bottom: 2rem;">View Product Update Post</a>
<p>Thanks so much for your continued support, and please keep the feedback and feature requests coming!</p>
<p>All the best,</p>
<p>The Squeaky Team</p>
