<p>Hey <%= @user.first_name %>,</p>
<p>We&apos;re a little later than usual due to the Easter vacation, but below you&apos;ll find a summary of the most important updates to Squeaky that were introduced during March 2023. We&apos;ve also noted a small change to how we&apos;ll be communicating product updates, and you can learn more about that in the blog post linked below.</p>
<p>
  <ul>
    <li>We&apos;ve introduced <b>UTM-parameters as an autocapture metric for event tracking</b>.</li>
    <li>You can now <b>set all dates and times in Squeaky to reflect your preferred timezone</b> in your <a href="<%= squeaky_app_url(path: '/users/preferences') %>">account settings</a>.</li>
    <li>The long-awaited option to <b>export your data as a .csv</b> is now available to all paying customers.</li>
    <li>We&apos;ll start sharing product updates via in-app notifications rather than these monthly emails, and you&apos;ll receiving a quarterly digest of all updates via email and on the blog.</li>
  </ul>
</p>
<a href="https://squeaky.ai/blog/product-updates/product-update-march-2023?utm_source=squeaky-product-update&utm_medium=email" class="button" style="text-decoration: none; margin-bottom: 2rem;">View Product Update Post</a>
<p>Thanks so much for your continued support, and please keep the feedback and feature requests coming!</p>
<p>All the best,</p>
<p>The Squeaky Team</p>
