<p>Hey <%= @user.first_name %>,</p>
<p>We&apos;re a few days later than usual, but below you&apos;ll find a rundown of all the amazing updates to the Squeaky product during November 2022:</p>
<p>
  <ul>
    <li>We&apos;ve redesigned our flow for adding new sites in Squeaky.</li>
    <li>There are now bar chart views for several charts in the app, which are particularly helpful for event tracking and comparison views.</li>
    <li>We&apos;ve added per-team-member access rights for linked data, offering more control over who can access customer data you choose to pass to Squeaky.</li>
    <li>We&apos;ve further improved the copywriting and controls for our Data Capture and Consent pages in the privacy section of the app.</li>
    <li>We&apos;ve moved the home dashboard and analytics interfaces to use Clickhouse, meaning they&apos;re now 2-5x faster.</li>
    <li>We completed the final major fixes for Event Tracking and it is now out of Beta!</li>
    <li>The Journeys feature has had a small update.</li>
  </ul>
</p>
<a href="https://squeaky.ai/blog/product-updates/product-update-november-2022?utm_source=squeaky-product-update&utm_medium=email" class="button" style="text-decoration: none; margin-bottom: 2rem;">View Product Update Post</a>
<p>Thanks so much for your continued support, and please keep the feedback and feature requests coming!</p>
<p>All the best,</p>
<p>The Squeaky Team</p>
