<p>Dear <%= @user.first_name %>,</p>
<p>The planned pricing migration we informed you of last week was completed yesterday afternoon. As part of the migration, a small number of sites may have experienced a brief interruption in their recording data, but data collection is running smoothly and the migration was a success.</p>
<p>Following feedback from a few users, we also decided to allow all sites that had been on the old Free Plan to keep their additional team members in perpetuity (up to 10 team members) 😊</p>
<p>We appreciate your support during the migration and we can&apos;t wait to share all the amazing new features we&apos;ve got lined up for you in 2023!</p>
<p>Kind Regards,</p>
<p>Chris Pattison</p>
