<p>Hi <%= @user.first_name %>,</p>
<p>It&apos;s Chris here, cofounder of Squeaky. I&apos;m emailing you to provide advanced notice of changes to our pricing plans that will be introduced at the end of this week. The changes will reduce the number of plans on offer and introduce feature and usage-based tiers that offer clearer choices for businesses of different sizes.</p>
<p>At the end of this email I&apos;ve linked to a blog post describing the changes in more detail and below you&apos;ll find a summary of the key points:</p>
<p>
  <ul>
    <li>All paying customers will remain on their existing/legacy plan in perpetuity, no action is required, but if you change to one of the new pricing plans at a later date you&apos;ll be unable to revert back to the legacy plan.</li>
    <li>We&apos;re keeping our Free Plan, though there are several changes taking effect:
      <ul>
        <li>Storage volume and duration limits are being reduced.</li>
        <li>Feature availability will be simplified to align more closely with the needs of smaller websites and hobbyists.</li>
      </ul>
    </li>
    <li>We&apos;re introducing a new Starter Plan that is 45% cheaper than our previous cheapest paid plan (the old Light Plan).</li>
    <li>If you&apos;re on the current Free Plan and would like to secure one of our legacy plans then you&apos;re free to do so before the end of the week. All legacy paid plans will continue to have access to our 6 key features going forward.</li>
    <li>The Free Plan will no longer have access to Team functionality. If you are a Free Plan user with team members at present, you will find they have been removed from your team and only the Site Owner will remain associated with the site unless you switch to a paid plan.</li>
  </ul>
</p>
<a href="https://squeaky.ai/blog/company-news/new-squeaky-pricing-2023?utm_source=squeaky-product-update&utm_medium=email" class="button" style="text-decoration: none; margin-bottom: 2rem;">New Squeaky Pricing 2023</a>
<p>Kind Regards,</p>
<p>Chris Pattison</p>
