<p>Hey <%= @user.first_name %>,</p>
<p>There have been a lot of updates and improvements to Squeaky over the past few months so we&apos;ve summarised them in the Product Update email below. For a detailed overview you can visit the blog post at the end of the email.</p>
<p>
  <ul>
    <li>A brand new features called <a href="https://squeaky.ai/product/journeys">Journeys</a>.</li>
    <li>
      NPS® & Sentiment survey improvements:
      <ul>
        <li>Device-width controls for Sentiment surveys</li>
        <li>Page display management for NPS surveys</li>
        <li>Email notifications about your latest feedback</li>
      </ul>
    </li>
    <li>We&apos;ve launched a <a href="https://www.notion.so/Squeaky-Help-Centre-fc049a1822b94b7a8df362811c534d4b">help centre</a> where you can find feature guides and answers to common questions.</li>
    <li>There are now <a href="https://squeaky.ai/pricing">annual payment plans</a> that save you 20%.</li>
    <li>
      We&apos;ve made improvements to filters and search:
      <ul>
        <li>New filter to find starred visitors</li>
        <li>UTM parameter filters for the recordings table</li>
        <li>Search by visitor ID&apos;s or linked data</li>
      </ul>
    </li>
    <li>We&apos;ve added a shuffle button to heatmaps.</li>
    <li>We improved heatmap performance considerably.</li>
    <li>There are now form anonymisation controls (<span style="color: #707070">Settings>Site>Privacy</span>).</li>
    <li>You can toggle customer support access to your data if you need our help (<span style="color: #707070">Settings>Site>Customer Support</span>).</li>
    <li>We now track and highlight any Javascript errors on your site.</li>
    <li>We&apos;ve migrated to a new database so we can bring you event tracking and funnels this quarter 👀…</li>
  </ul>
</p>
<a href="https://squeaky.ai/blog/product%20updates/product-update-q2-2022" class="button" style="text-decoration: none; margin-bottom: 2rem;">View Product Update Post</a>
<p>Thanks so much for your support this quarter, and please keep the feedback and feature requests coming!</p>
<p>Kind Regards, </p>
<p>The Squeaky Team</p>
