<p>Hey <%= @user.first_name %>,</p>
<p>It&apos;s been a busy few months at Squeaky, with loads of great new features and improvements to our product. Below you&apos;ll find a summary of the biggest updates from September and October, and for a detailed overview you can visit the blog post linked at the bottom of this email.</p>
<p>
  <ul>
    <li>We&apos;ve introduced a brand new home dashboard for your site.</li>
    <li>The <a href="https://squeaky.ai/product/heatmaps?utm_source=squeaky-product-update&utm_medium=email">heatmaps feature</a> has had a comprehensive upgrade.</li>
    <li>You can now suppress data capture for all text on your site, with one click.</li>
    <li>We&apos;ve added a dedicated Error Tracking page and error details pages you can access when playing back your session recordings.</li>
    <li>Several new translations for the NPS® and Consent widgets.</li>
    <li>There&apos;s a brand new page selector component.</li>
    <li>And a few other small UI improvements you can read about in the blogpost linked below 👇</li>
  </ul>
</p>
<a href="https://squeaky.ai/blog/product-updates/product-update-september-october-2022?utm_source=squeaky-product-update&utm_medium=email" class="button" style="text-decoration: none; margin-bottom: 2rem;">View Product Update Post</a>
<p>Thanks so much for your continued support, and please keep the feedback and feature requests coming!</p>
<p>All the best,</p>
<p>The Squeaky Team</p>
