<% if locals[:direction] == 'up' %>
  <span style="color: #32D05F; font-size: 13px; vertical-align: middle;">↑</span>
<% else %>
  <span style="color: #F96155; font-size: 13px; vertical-align: middle;">↓</span>
<% end %>
