<p>Dear <%= @user.first_name %>,</p>
<p>Today marks the end of your free trial of Squeaky&apos;s paid features, I hope youvve found it valuable and insightful.</p>
<p>I noticed that you&apos;ve not yet upgraded your site to a paid plan, and this means that your site will now revert to the features and functionality of the free plan, with 500 monthly recordings.</p>
<p>If you&apos;re not ready to lose access to our amazing premium features and increased data capture, then please make sure you upgrade your plan - you can explore the options below:</p>
<a href="<%= squeaky_url(path: "/app/sites/#{@site.id}/settings/subscription") %>" class="button" style="text-decoration: none; margin-bottom: 2rem;">Choose Your Plan</a>
<p>If you have any questions or need any assistance, you can email me at any time. Thank so much for trying our paid features and I look forwarded to supporting you and your business&apos;s analytics needs, whatever plan you&apos;re on!</p>
<p>Kind Regards,</p>
<p>Chris Pattison<br>CEO &amp; Cofounder</p>
