<p>Hi <%= @owner.first_name %>,</p>
<p>Congratulations on upgrading to Squeaky&apos;s Business Plan! Along with advanced features like <a href="https://squeaky.ai/product/event-tracking" target="_blank" rel="noreferrer">Event & Error Tracking</a> analytics and extended data capture, there's another significant perk we'd like to highlight:</p>
<p><b>Unlimited websites!</b></p>
<p>This means that you can now add Squeaky analytics to multiple websites and we&apos;ll bundle them under the same Business Plan at no additional cost, so long as all sites combined remain within your monthly limit of 125,000 recordings.</p>
<p>For instance:</p>
<p>
  <ul> 
    <li>Stick to 1 site on the business plan, with up to 125,000 visitors per month.</li>
    <li>Have 5 sites on the business plan with 25,000 visitors per month each.</li>
    <li>Have 125 sites on the business plan, each with 1,000 visitors per month.</li>
  </ul>
</p>
<p><b>How to add more sites:</b></p>
<p>To include additional sites in your subscription all you have to do is email us via <a href="mailto:hello@squeaky.ai">hello@squeaky.ai</a> or <a href="https://calendar.app.google/svwrAzUJStLaL2op9" target="_blank" rel="noreferrer">book a demo</a> and we&apos;ll get you set up in no time 😊</p>
<p>For more details on site bundling you ca visit our help centre here.</p>
<p>Kind Regards,</p>
<p>The Squeaky Team</p>
