<h1>You&apos;ve been made Admin of <%= @site.name %></h1>
<p><%= @user.full_name %> has made you an Admin on the <%= @site.name %> team on Squeaky. </p>
<a href="<%= @web_url %>" class="button" style="text-decoration: none;">Visit Squeaky</a>
<p class="small">If you believe you have received this email in error you can safely ignore it.</p>
