<h1>You&apos;ve been made the Owner of <%= @site.name %></h1>
<p><%= @user.full_name %> has made you the Owner of the <%= @site.name %> team on Squeaky. You are now responsible for managing billing and no other users can downgrade your role.</p>
<a href="<%= squeaky_url %>" class="button" style="text-decoration: none;">Visit Squeaky</a>
<p class="small">If you believe you have received this email in error you can safely ignore it.</p>
