<h1>Capture only the right data</h1>
<p>Now that your visitor session data is being captured in Squeaky, you&apos;ll want to make sure you&apos;re only capturing the information you require. Squeaky is 100% GDPR and CCPA compliant out-of-the-box, and you can fine tune your data capture using some of the following options:</p>
<p>
  <ol>
    <li>Visit the <a href="<%= @web_url %>/app/sites/<%= @site.id %>/settings/privacy/data">Privacy page</a> in your Site Settings and you&apos;ll find an array of options that help you to protect your visitors privacy and only collect data that they have consented to share.</li>
    <li>You&apos;re now capturing all visits to your site, but that also means any visits from you or your team are automatically included in your data set. To help you ensure a clean representation that only reflects external visitors we&apos;ve included a variety of screening controls in the <a href="<%= @web_url %>/app/sites/<%= @site.id %>/settings/details/screening">Screening tab</a> of your Site settings.</li>
  </ol>
</p>
<p>By following these two steps you&apos;ll be If you need any help familiarising yourself with Squeaky&apos;s data capture or recordings functionality then you can reply directly to this email and we&apos;ll get back to you as soon as possible.</p>
<p>Kind Regards,</p>
<p><b>The Squeaky Team</b></p>

