<h1>Your first recording is in!</h1>
<p>You can <a href="<%= squeaky_app_url(path: "/sites/#{@site.id}/recordings/#{@first_recording&.id}/") %>">click here</a> to view your first recording, and while you&apos;re waiting for more recordings to come in we&apos;ve got some tips to help you get the most out of your recording data.</p>
<table width="100%" style="margin-bottom: 2rem">
  <tr>
    <td style="padding: .5rem 1rem 3rem 0">
      <p><b>Understand & Navigate</b></p>
      <p>Use the sidebar to view session meta data, along with event and pages timelines, to get context into the visitor&apos;s session.</p>
    </td>
    <td style="padding: .5rem 0 3rem 1rem">
      <img src="https://cdn.squeaky.ai/mailer/session-1.png" width="283" height="180">
    </td>
  </tr>
  <tr>
    <td style="padding: .5rem 1rem 3rem 0">
      <img src="https://cdn.squeaky.ai/mailer/session-2.png" width="283" height="180">
    </td>
    <td style="padding: .5rem 0 3rem 1rem">
      <p><b>Add Notes & Tags</b></p>
      <p>Enrich your recordings with notes and tags that will help you share insights with team mates, track patterns of behaviour over time, and quickly find recordings later.</p>
    </td>
  </tr>
  <tr>
    <td style="padding: .5rem 1rem 3rem 0">
      <p><b>Track recordings and visitors</b></p>
      <p>Bookmark noteworthy recordings, or Star important visitors, and you&apos;ll be able to quickly find them later in the recordings and visitors lists.</p>
    </td>
    <td style="padding: .5rem 0 3rem 1rem">
      <img src="https://cdn.squeaky.ai/mailer/session-3.png" width="283" height="180">
    </td>
  </tr>
  <tr>
    <td style="padding: .5rem 1rem 3rem 0">
      <img src="https://cdn.squeaky.ai/mailer/session-4.png" width="283" height="180">
    </td>
    <td style="padding: .5rem 0 3rem 1rem">
      <p><b>Share your findings</b></p>
      <p>If you spot a recording that could inform decision making within your business you can use the share functionality to provide access to your team members.</p>
    </td>
  </tr>
</table>
<p>Recordings are a great place to start, but really they&apos;re just one representation of your captured data. Now that your first recording is in you&apos;ll have access to other relevant data and features throughout Squeaky, such as <a href="<%= squeaky_app_url(path: "/sites/#{@site.id}/analytics/site/traffic/") %>">Analytics</a> or <a href="<%= squeaky_app_url(path: "/sites/#{@site.id}/heatmaps/click-positions/") %>">Heatmaps</a>.</p>
<p>We hope you enjoy diving into your newly gathered data! If you need any help familiarising yourself with Squeaky&apos;s data capture or recordings functionality then you can reply directly to this email and we&apos;ll get back to you as soon as possible.</p>
<p>Kind Regards,</p>
<p><b>The Squeaky Team</b></p>
