<h1>Book a demo</h1>
<p>If you&apos;re unfamilar with customer experience analytics, or you&apos;re just new to Squeaky and want some pointers, then you can book an introductory demo using the button below:</p>
<a href="https://calendly.com/squeakyai/demo-call" class="button" style="margin: 0 0 2rem 0; text-decoration: none;">Book Demo</a>
<p>If you can&apos;t find a suitable time then please respond to this email and we&apos;ll find something that works for you.</p>
<p>Kind Regards,</p>
<p><b>The Squeaky Team</b></p>
