<h1>Getting started with Squeaky</h1>

<% if [Team::ADMIN, Team::MEMBER, Team::READ_ONLY].include?(@user.teams.first&.role) %>
  <p>It&apos;s awesome that <%= @user.invited_by&.full_name %> has invited you to their team on Squeaky, but perhaps you&apos;re wondering what Squeaky is all about? To help you get up and running, we&apos;ve written a short explainer on our key features.</p>
  <table width="100%" style="margin-bottom: 2rem">
    <tr> 
      <td style="padding: .5rem 1rem 3rem 0">
        <p><b>Analytics</b></p>
        <p>Squeaky captures precise and meaningful data that will help you know your audience better, measure your performance and let data drive your decision making.</p>
      </td>
      <td style="padding: 1rem 0 3rem 1rem">
        <img src="https://cdn.squeaky.ai/mailer/analytics.png" width="284" height="202">
      </td>
    </tr>
    <tr>
      <td style="padding: .5rem 1rem 3rem 0">
        <img src="https://cdn.squeaky.ai/mailer/events.png" width="284" height="202">
      </td>
      <td style="padding: .5rem 0 3rem 1rem">
        <p><b>Event tracking</b></p>
        <p>Automatically capture any visitor activity on your site for easy comparison, including page visits, button or text clicks, javascript errors, or any custom event you like.</p>
      </td>
    </tr>
    <tr>
      <td style="padding: .5rem 1rem 3rem 0">
        <p><b>Session Recordings</b></p>
        <p>Squeaky captures each visit to your site, helping you understand the experience of your customers, resolve their issues faster, and optimise your conversion rates.</p>
      </td>
      <td style="padding: 1rem 0 3rem 1rem">
        <img src="https://cdn.squeaky.ai/mailer/sessions.png" width="284" height="202">
      </td>
    </tr>
    <tr>
      <td style="padding: 1rem 1rem 3rem 0">
        <img src="https://cdn.squeaky.ai/mailer/heatmaps.png" width="284" height="202">
      </td>
      <td style="padding: .5rem 0 3rem 1rem">
        <p><b>Heatmaps</b></p>
        <p>Use heatmaps to quantify your customer experience and discover which content, interfaces, and layouts matter most to your visitors.</p>      
      </td>
    </tr>
    <tr>
      <td style="padding: .5rem 1rem 3rem 0">
        <p><b>Visitor Profiles</b></p>
        <p>You can view all your visitors in one place and use simple filters to find just the profile you&apos;re looking for.</p>
        <p class="small"><b>Please note</b>: Visitors are anonymous unless your team are using data linking.</p>
      </td>
      <td style="padding: 1rem 0 3rem 1rem">
        <img src="https://cdn.squeaky.ai/mailer/visitors.png" width="284" height="202">
      </td>
    </tr>
    <tr>
      <td style="padding: 1rem 1rem 3rem 0">
        <img src="https://cdn.squeaky.ai/mailer/nps.png" width="284" height="202">
      </td>
      <td style="padding: .5rem 0 3rem 1rem">
        <p><b>Customer Feedback</b></p>
        <p>NPS® and Sentiment Surveys ensure you're taking customer feedback seriously, and with Squeaky you can watch reordings linked ot submitted feedback.</p>
      </td>
    </tr>
    <tr>
      <td style="padding: .5rem 1rem 3rem 0">
        <p><b>Journeys</b></p>
        <p>You can optimise and improve your user journeys by surfacing the exact routes your visitors are taking when navigating around your site.</p>
      </td>
      <td style="padding: 1rem 0 3rem 1rem">
        <img src="https://cdn.squeaky.ai/mailer/journeys.png" width="284" height="202">
      </td>
    </tr>
  </table>
  <p>We hope you enjoy diving into your customer experience analytics tool! If you need any help familiarising yourself with Squeaky then make sure you visit our Help Centre or email us directly via hello@squeaky.ai.</p>
  <p>Kind Regards,</p>
  <p><b>The Squeaky Team</b></p>
<% else %>
  <p>It takes only 5 minutes to get up and running with Squeaky, here are the two things you need to do:</p>
  <p>
    <ol>
      <li>If you haven&apos;t already, <a href="<%= squeaky_app_url(path: '/sites') %>">create your first site</a>! <i style="color:#A0A0A0">(1 minute)</i></li>
      <li>Install the Squeaky tracking code on your website or web app, you can use our <a href="https://squeaky.notion.site/Install-your-tracking-code-6ab27212bb5c434196f494ac43349b72#582b9522ff9a4f268dab90b0be05fbb5">installation guides</a> if you need any help. <i style="color:#A0A0A0">(2-5 minutes)</i></li>
    </ol>
  </p>
  <p>That&apos;s all for now, we&apos;ll only send you a couple more onboarding emails, but if you need any help you can reply directly to this email, or book a free demo <a href="<%= squeaky_web_url(path: "/book-demo") %>">here</a>.</p>
  <p>Kind Regards,</p>
  <p><b>The Squeaky Team</b></p>
<% end %>
