<h1>How to install your tracking code</h1>
<p>We notice that you haven&apos;t yet been able to verify the Squeaky tracking code on your site, so we thought we&apos;d send you a quick email to help you get set up.</p>
<p>Firstly, if you haven&apos;t already, <a href="#todo">create your first site</a>! It only takes a minute and you&apos;ll be directed to the tracking code installation page.</p>
<p>Now, you just have to install the Squeaky tracking code on your website or web app using one of the following methods:</p>
<table width="100%" style="margin: 0 0 2rem 0">
  <tr>
    <td width="50%">
      <a href="#todo">
        <img src="https://cdn.squeaky.ai/mailer/manual.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Manual installation
      </a>
    </td>
    <td width="50%">
      <a href="#todo">
        <img src="https://cdn.squeaky.ai/mailer/webflow.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Webflow
      </a>
    </td>
  </tr>
  <tr>
    <td width="50%">
      <a href="#todo">
        <img src="https://cdn.squeaky.ai/mailer/google-tag-manager.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Google Tag Manager
      </a>
    </td>
    <td width="50%">
      <a href="#todo">
        <img src="https://cdn.squeaky.ai/mailer/wix.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Wix
      </a>
    </td>
  </tr>
  <tr>
    <td width="50%">
      <a href="#todo">
        <img src="https://cdn.squeaky.ai/mailer/wordpress.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Wordpress
      </a>
    </td>
    <td width="50%">
      <a href="#todo">
        <img src="https://cdn.squeaky.ai/mailer/magento.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Magento
      </a>
    </td>
  </tr>
  <tr>
    <td width="50%">
      <a href="#todo">
        <img src="https://cdn.squeaky.ai/mailer/shopify.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Shopify
      </a>
    </td>
    <td width="50%">
      <a href="#todo">
        <img src="https://cdn.squeaky.ai/mailer/drupal.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Drupal
      </a>
    </td>
  </tr>
</table>
<p>Tracking code installation typically takes just a few minutes, but if you encounter any issues, or need our assistance, you can reply directly to this email.</p>
<p>Kind Regards,</p>
<p><b>The Squeaky Team</b></p>
