<h1>How to install your tracking code</h1>
<p>We notice that you haven&apos;t yet been able to verify the Squeaky tracking code on your site, so we thought we&apos;d send you a quick email to help you get set up.</p>
<p>Firstly, if you haven&apos;t already, <a href="<%= squeaky_url("/app/sites") %>">create your first site</a>! It only takes a minute and you&apos;ll be directed to the tracking code installation page.</p>
<p>Now, you just have to install the Squeaky tracking code on your website or web app using one of the following methods:</p>
<table width="100%" style="margin: 0 0 2rem 0">
  <tr>
    <td width="50%">
      <a href="https://squeaky.notion.site/Install-your-tracking-code-6ab27212bb5c434196f494ac43349b72#582b9522ff9a4f268dab90b0be05fbb5">
        <img src="https://cdn.squeaky.ai/mailer/manual.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Manual installation
      </a>
    </td>
    <td width="50%">
      <a href="https://squeaky.notion.site/Webflow-ea17dbafc682462d9c5f53a62cc963f9">
        <img src="https://cdn.squeaky.ai/mailer/webflow.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Webflow
      </a>
    </td>
  </tr>
  <tr>
    <td width="50%">
      <a href="https://squeaky.notion.site/Google-Tag-Manager-cd1516af16494241ae50050be3e13cfe">
        <img src="https://cdn.squeaky.ai/mailer/google-tag-manager.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Google Tag Manager
      </a>
    </td>
    <td width="50%">
      <a href="https://squeaky.notion.site/Wix-9b6351ec3cdd48b3ae94f5f8b4f3b8db">
        <img src="https://cdn.squeaky.ai/mailer/wix.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Wix
      </a>
    </td>
  </tr>
  <tr>
    <td width="50%">
      <a href="https://squeaky.notion.site/Wordpress-571e94c409f94748a6c40f67b5d79543">
        <img src="https://cdn.squeaky.ai/mailer/wordpress.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Wordpress
      </a>
    </td>
    <td width="50%">
      <a href="https://squeaky.notion.site/Magento-49302bba0c7a48d3aef93e38e8e79643">
        <img src="https://cdn.squeaky.ai/mailer/magento.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Magento
      </a>
    </td>
  </tr>
  <tr>
    <td width="50%">
      <a href="https://squeaky.notion.site/Shopify-63eef790b11f4ce59108c5f720ff21c5">
        <img src="https://cdn.squeaky.ai/mailer/shopify.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Shopify
      </a>
    </td>
    <td width="50%">
      <a href="https://squeaky.notion.site/Drupal-401bce8e455246019e9e429641979c53">
        <img src="https://cdn.squeaky.ai/mailer/drupal.png" height="32" width="32" style="vertical-align: middle; margin: 0 1rem 0 0;">Drupal
      </a>
    </td>
  </tr>
</table>
<p>Tracking code installation typically takes just a few minutes, but if you encounter any issues, or need our assistance, you can reply directly to this email.</p>
<p>Kind Regards,</p>
<p><b>The Squeaky Team</b></p>
