<h1>How can we make Squeaky work for you?</h1>
<p>You joined Squeaky a week ago, but it looks like you&apos;ve never used it 😔.</p>
<p>Do you have any feedback or questions? We&apos;d love to know how we can improve your experience as a Squeaky customer.</p>
<p>Kind Regards,</p>
<p><b>The Squeaky Team</b></p>
