<h1>Welcome to Squeaky</h1>
<p>It&apos;s Chris & Lewis here, cofounders of Squeaky. We&apos;re thrilled that you&apos;ve chosen Squeaky to help you better understand your customers and grow your business!</p>
<p>We&apos;ll send you a couple of emails over the next few days to help you get started using our product, but first we thought we&apos;d take a moment to share why we built Squeaky in the first place...</p>
<div class="card">
  <p>We started Squeaky because of a combined interest in digital privacy, and a love of building great products for the web.</p>
  <p>As web users, it&apos;s been amazing to see the (long-overdue) emergence of progressive leglisation that puts each of us in control of our data and privacy. That said, changes in our online behaviour, coupled with evolving legislation, have created serious obstacles for companies that rely on the data from legacy analytics tools like Hotjar or Google Analytics to help improve their business.</p>
  <p>Existing analytics tools leave companies with a choice between missing important data, breaking the law, or using no tool at all. But safeguarding customer privacy, and remaining compliant, shouldn&apos;t mean having to forego the irreplaceable value of comprehensive data capture and analytics. That&apos;s why we decided to build Squeaky, the first comprehensive analytics tool that future-proofs web and product analytics by putting privacy at it&apos; core..</p>
</div>
<p>You&apos;ll find out more as you start using the Squeaky application, but rest assured that by avoiding the use of cookie or IP-based tracking, and using our data anonymisation features, you&apos;ll gain meaningful analytics data without having to compromise user privacy or fall foul of any rules and regulations*.</p>
<p>We can&apos;t wait for you to see how Squeaky can help you improve your business, so please don&apos;t hesitate to get in touch if you need any help getting started. You can reply directly to this email, book a free demo <a href="<%= @web_url %>/book-demo">here</a>, or visit our <a href="https://www.notion.so/squeaky/Squeaky-Help-Centre-fc049a1822b94b7a8df362811c534d4b">Help Centre</a>.</p>
<p>Thanks again for choosing Squeaky!</p>
<p>Chris &amp; Lewis</p>
<p class="small">*Squeaky never offers legal advice, and we recommend all customers consult with an appropriate legal professional when implementing new tools for their business.</p>