<h1>Verify your email address</h1>
<p>Thank you for signing up to Squeaky. To verify your email address please click the button below.</p>
<a href="<%= squeaky_web_url(path: "/auth/login?token=#{@token}", skip_deeplink: true) %>" class="button" style="text-decoration: none;">Verify Email</a>
<p class="small ">If you believe you have received this email in error you can safely ignore it.</p>
