<h1>You&apos;ve been invited to join<% if !@new_user %> a site on<% end %> Squeaky</h1>
<p><%= @invited_by.full_name %> has invited you to the <%= @site_name %> team on Squeaky.  Please click the button below to sign-up.</p>
<a href="<%= squeaky_url(path: "/auth/accept?token=#{@token}&new_user=#{@new_user}", skip_deeplink: true) %>" class="button" style="text-decoration: none;">Accept Invitation</a>
<p class="small">If you believe you have received this email in error you can safely ignore it.</p>
