<h1>Reset your password</h1>
<p>You recently requested to reset your Squeaky password. Please click the button below to set your new password.</p>
<a href="<%= @web_url %>/reset?token=<%= @token %>" class="button">Reset Password</a>
<p class="small">If you didn&apos;t try to reset your password you can safely ignore this email.</p>
